<h1>Worte</h1>

<table class="table">
  <thead>
    <tr>
      <th>Uid</th>
      <th>Transliteration</th>
      <th>Transliteration nosuffix</th>
      <th>Uebersetzung</th>
      <th>Hieroglyph</th>
      <th>Weiteres</th>
      <th>Belegstellenedfu</th>      <!-- todo handle stellen -->
      <th>Belegstellenwb</th>
      <th>Anmerkung</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @worte.each do |wort| %>
      <tr>
        <td><%= wort.uid %></td>
        <td><%= wort.transliteration %></td>
        <td><%= wort.transliteration_nosuffix %></td>
        <td><%= wort.uebersetzung %></td>
        <td><%= wort.hieroglyph %></td>
        <td><%= wort.weiteres %></td>
        <td><%= wort.belegstellenEdfu %></td>   <!-- todo handle stellen -->
        <td><%= wort.belegstellenWb %></td>
        <td><%= wort.anmerkung %></td>
        <td><%= link_to 'Show', wort %></td>
      </tr>
    <% end %>
  </tbody>
</table>
