<h1>Wort</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @wort.uid %>
</p>

<p>
  <strong>Transliteration:</strong>
  <%= @wort.transliteration %>
</p>

<p>
  <strong>Transliteration nosuffix:</strong>
  <%= @wort.transliteration_nosuffix %>
</p>

<p>
  <strong>Uebersetzung:</strong>
  <%= @wort.uebersetzung %>
</p>

<p>
  <strong>Hieroglyph:</strong>
  <%= @wort.hieroglyph %>
</p>

<p>
  <strong>Weiteres:</strong>
  <%= @wort.weiteres %>
</p>

<p>
  <strong>Belegstellenwb:</strong>
  <%= @wort.belegstellenWb %>
</p>

<p>
    <strong>Stellen:</strong>
    <%= raw @wort.stellen.collect { |stelle| link_to stelle.bandseitezeile, stelle}.join(" - ")%>
</p>

<p>
    <strong>WB_Berlin:</strong>
    <%= link_to "wb_berlin-#{@wort.wb_berlin.id}", @wort.wb_berlin %>
</p>


<p>
  <strong>Anmerkung:</strong>
  <%= @wort.anmerkung %>
</p>

<%= link_to 'Back', worte_path %>
