<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @wb_berlin.uid %>
</p>

<p>
  <strong>Band:</strong>
  <%= @wb_berlin.band %>
</p>

<p>
  <strong>Seite start:</strong>
  <%= @wb_berlin.seite_start %>
</p>

<p>
  <strong>Seite stop:</strong>
  <%= @wb_berlin.seite_stop %>
</p>

<p>
  <strong>Zeile start:</strong>
  <%= @wb_berlin.zeile_start %>
</p>

<p>
  <strong>Zeile stop:</strong>
  <%= @wb_berlin.zeile_stop %>
</p>

<p>
  <strong>Wort:</strong>
  <%= @wb_berlin.wort %>
</p>

<%= link_to 'Back', wb_berlins_path %>
