<%= form_for(@upload) do |f| %>
    <% if @upload.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

            <ul>
                <% @upload.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= label_tag(:formular, "Formular:") %>
    <%= f.file_field(:formular) %>

    <%= label_tag(:ort, "Ort:") %>
    <%= f.file_field(:ort) %>

    <%= label_tag(:gott, "Gott:") %>
    <%= f.file_field(:gott) %>

    <%= label_tag(:wort, "Wort:") %>
    <%= f.file_field(:wort) %>

    <%= label_tag(:email, "email:") %>
    <%= f.text_field(:email) %>


    <div class="actions form-group">
        <%= f.submit "Upload" %>
    </div>
<% end %>
