<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @gott.uid %>
</p>

<p>
  <strong>Transliteration:</strong>
  <%= @gott.transliteration %>
</p>

<p>
  <strong>Transliteration nosuffix:</strong>
  <%= @gott.transliteration_nosuffix %>
</p>

<p>
  <strong>Ort:</strong>
  <%= @gott.ort %>
</p>

<p>
  <strong>Eponym:</strong>
  <%= @gott.eponym %>
</p>

<p>
  <strong>Beziehung:</strong>
  <%= @gott.beziehung %>
</p>

<p>
  <strong>Funktion:</strong>
  <%= @gott.funktion %>
</p>

<p>
  <strong>Band:</strong>
  <%= @gott.band %>
</p>

<p>
  <strong>Seitezeile:</strong>
  <%= @gott.seitezeile %>
</p>

<p>
  <strong>Anmerkung:</strong>
  <%= @gott.anmerkung %>
</p>

<%= link_to 'Edit', edit_gott_path(@gott) %> |
<%= link_to 'Back', goetter_path %>
