<h1>Orte</h1>

<table class="table">
  <thead>
    <tr>
      <th>Uid</th>
        <!-- todo handle stellen <th>Stelle</th> -->
      <th>Transliteration</th>
      <th>Transliteration nosuffix</th>
      <th>Ort</th>
      <th>Lokalisation</th>
      <th>Anmerkung</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orte.each do |ort| %>
      <tr>
        <td><%= ort.uid %></td>
        <!-- todo handle stellen <td><%= ort.stellen.collect { |stelle| "#{stelle.bandseitezeile}" } %></td> -->
        <td><%= ort.transliteration %></td>
        <td><%= ort.transliteration_nosuffix %></td>
        <td><%= ort.ort %></td>
        <td><%= ort.lokalisation %></td>
        <td><%= ort.anmerkung %></td>
        <td><%= link_to 'Show', ort %></td>
      </tr>
    <% end %>
  </tbody>
</table>
