<h1>Listing orte</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Stelle</th>
      <th>Transliteration</th>
      <th>Transliteration nosuffix</th>
      <th>Ort</th>
      <th>Lokalisation</th>
      <th>Anmerkung</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orte.each do |ort| %>
      <tr>
        <td><%= ort.uid %></td>
        <td><%= ort.stelle %></td>
        <td><%= ort.transliteration %></td>
        <td><%= ort.transliteration_nosuffix %></td>
        <td><%= ort.ort %></td>
        <td><%= ort.lokalisation %></td>
        <td><%= ort.anmerkung %></td>
        <td><%= link_to 'Show', ort %></td>
        <td><%= link_to 'Edit', edit_ort_path(ort) %></td>
        <td><%= link_to 'Destroy', ort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ort', new_ort_path %>
