<h1>Ort</h1>

<p id="notice"><%= notice %></p>

<p>
    <strong>Uid:</strong>
    <%= @ort.uid %>
</p>

<p>
    <strong>Transliteration:</strong>
    <%= @ort.transliteration %>
</p>

<p>
    <strong>Ort:</strong>
    <%= @ort.ort %>
</p>

<p>
    <strong>Lokalisation:</strong>
    <%= @ort.lokalisation %>
</p>

<p>
    <strong>Stellen:</strong>
    <%= raw @ort.stellen.collect { |stelle| link_to stelle.bandseitezeile, stelle}.join(" - ")%>
</p>

<p>
    <strong>Anmerkung:</strong>
    <%= @ort.anmerkung %>
</p>

<%= link_to 'Zurück zur Liste', orte_path %>
