<h1>Listing stellen</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tempel</th>
      <th>Band</th>
      <th>Bandseite</th>
      <th>Bandseitezeile</th>
      <th>Seite start</th>
      <th>Seite stop</th>
      <th>Zeile start</th>
      <th>Zeile stop</th>
      <th>Stelle anmerkung</th>
      <th>Stelle unsicher</th>
      <th>Start</th>
      <th>Stop</th>
      <th>Zerstoerung</th>
      <th>Freigegeben</th>
        <th>Zugehörig zu</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stellen.each do |stelle| %>
      <tr>
        <td><%= stelle.id %></td>
        <td><%= stelle.tempel %></td>
        <td><%= stelle.band %></td>
        <td><%= stelle.bandseite %></td>
        <td><%= stelle.bandseitezeile %></td>
        <td><%= stelle.seite_start %></td>
        <td><%= stelle.seite_stop %></td>
        <td><%= stelle.zeile_start %></td>
        <td><%= stelle.zeile_stop %></td>
        <td><%= stelle.stelle_anmerkung %></td>
        <td><%= stelle.stelle_unsicher %></td>
        <td><%= stelle.start %></td>
        <td><%= stelle.stop %></td>
        <td><%= stelle.zerstoerung %></td>
        <td><%= stelle.freigegeben %></td>
          <td><%= "#{stelle.zugehoerigZu_type.downcase}-#{stelle.zugehoerigZu.uid}" %></td>  <!-- todo link -->

        <td><%= link_to 'Einzelsicht', stelle %></td>
      </tr>
    <% end %>
  </tbody>
</table>
