<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @stelle.uid %>
</p>

<p>
  <strong>Tempel:</strong>
  <%= @stelle.tempel %>
</p>

<p>
  <strong>Band:</strong>
  <%= @stelle.band %>
</p>

<p>
  <strong>Bandseite:</strong>
  <%= @stelle.bandseite %>
</p>

<p>
  <strong>Bandseitezeile:</strong>
  <%= @stelle.bandseitezeile %>
</p>

<p>
  <strong>Seite start:</strong>
  <%= @stelle.seite_start %>
</p>

<p>
  <strong>Seite stop:</strong>
  <%= @stelle.seite_stop %>
</p>

<p>
  <strong>Zeile start:</strong>
  <%= @stelle.zeile_start %>
</p>

<p>
  <strong>Zeile stop:</strong>
  <%= @stelle.zeile_stop %>
</p>

<p>
  <strong>Stelle anmerkung:</strong>
  <%= @stelle.stelle_anmerkung %>
</p>

<p>
  <strong>Stelle unsicher:</strong>
  <%= @stelle.stelle_unsicher %>
</p>

<p>
  <strong>Start:</strong>
  <%= @stelle.start %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @stelle.stop %>
</p>

<p>
  <strong>Zerstoerung:</strong>
  <%= @stelle.zerstoerung %>
</p>

<p>
  <strong>Freigegeben:</strong>
  <%= @stelle.freigegeben %>
</p>

<%= link_to 'Back', stellen_path %>
