<h1>Götter</h1>

<table class="table">
  <thead>
    <tr>
      <th>Uid</th>
      <th>Transliteration</th>
      <th>Ort</th>
      <th>Eponym</th>
      <th>Beziehung</th>
      <th>Funktion</th>
      <th>Anmerkung</th>
      <th>Bandseitezeile</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @goetter.each do |gott| %>
      <tr>
        <td><%= gott.uid %></td>
        <td><%= gott.transliteration %></td>
        <td><%= gott.ort %></td>
        <td><%= gott.eponym %></td>
        <td><%= gott.beziehung %></td>
        <td><%= gott.funktion %></td>
        <td><%= gott.anmerkung %></td>
          <td><%= gott.stellen.collect { |stelle| "#{stelle.bandseitezeile}" } %></td>
        <td><%= link_to 'Einzelsicht', gott %></td>
      </tr>
    <% end %>
  </tbody>
</table>
