<h1>Gott</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @gott.uid %>
</p>

<p>
  <strong>Transliteration:</strong>
  <%= @gott.transliteration %>
</p>

<p>
  <strong>Ort:</strong>
  <%= @gott.ort %>
</p>

<p>
  <strong>Eponym:</strong>
  <%= @gott.eponym %>
</p>

<p>
  <strong>Beziehung:</strong>
  <%= @gott.beziehung %>
</p>

<p>
  <strong>Funktion:</strong>
  <%= @gott.funktion %>
</p>

<p>
    <strong>Stelle:</strong>
    <%= raw @gott.stellen.collect { |stelle| link_to stelle.bandseitezeile, stelle}.join(" - ")%>
</p>

<p>
  <strong>Anmerkung:</strong>
  <%= @gott.anmerkung %>
</p>

<%= link_to 'Zurück zur Liste', goetter_path %>
