<%= bootstrap_form_for(@upload, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f| %>
    <% if @upload.errors.any? %>
        <div id="error_explanation">
            <h3>Es sind <%= pluralize(@upload.errors.count, "Fehler") %> aufgetreten:</h3>

            <ul>
                <% @upload.errors[:base].each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.file_field(:formular, label: "Formular:") %>

    <%= f.file_field(:ort, label: "Ort:") %>

    <%= f.file_field(:gott, label: "Gott:") %>

    <%= f.file_field(:wort, label: "Wort:") %>

    <!-- <%= f.email_field(:email, label: "E-Mail:") %> -->

    <div class="actions form-group">
        <%= f.submit "Upload" %>
    </div>

<% end %>
