<h1>Formular</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @formular.uid %>
</p>

<p>
  <strong>Transliteration:</strong>
  <%= @formular.transliteration %>
</p>

<p>
  <strong>Transliteration nosuffix:</strong>
  <%= @formular.transliteration_nosuffix %>
</p>

<p>
  <strong>Uebersetzung:</strong>
  <%= @formular.uebersetzung %>
</p>

<p>
  <strong>Texttyp:</strong>
  <%= @formular.texttyp %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @formular.photos.collect { |photo| photo.name } %>
</p>

<p>
  <strong>Photo pfad:</strong>
  <%= @formular.photos.collect { |photo| photo.pfad } %>
</p>

<p>
  <strong>Photo kommentar:</strong>
  <%= @formular.photos.collect { |photo| photo.kommentar } %>
</p>

<p>
  <strong>Szeneid:</strong>
  <%= @formular.szeneID %>
</p>

<p>
  <strong>Literatur:</strong>
  <%= @formular.literaturen.collect { |lit| "#{lit.beschreibung} : #{lit.detail}" } %>
</p>

<p>
    <strong>Stelle:</strong>
    <%= raw @formular.stellen.collect { |stelle| link_to stelle.bandseitezeile, stelle}.join(" - ")%>
</p>

<%= link_to 'Zurück zur Liste', formulare_path %>
